     table
      {
        border-spacing:15px;
      }
      label 
      {
        color:#02639a;
        font-size:16px;
        width:75px;
        margin-left:10px; 
      }
      fieldset 
      {
        border:2px solid #02639a;
        background-color:#e5f0f7;
        padding:3px;
        width:650px; 
      }
      legend 
      {
        color:#02639a;
        background-color:#d1e8f7;
        border:5px solid #02639a;
        padding:3px;
        font-weight:bold;
        margin-left:-10px; 
      }
      input
      {
        width:600px;
        color:#02639a;
      }
button.fb {
        border: none;
        background: #3b5998;
        width: 160px;
        height: 25px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        border-radius: 4px;
        border: 1px solid #29487d;
        cursor: pointer;
        margin-bottom: 20px;
        transition:all 0.3s linear;
      }
button.fb:hover {
        background: #fff;
        color: #3b5998;
      }